<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMALA | sign up</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}">
    <link rel="icon" href="../images/icon.jpg" type="image/png">
</head>

<body class="h-100 d-flex flex-column">
    <header class="flex-shrink-0">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark flex-shrink-0">
            <div class="container-fluid">
                <h1 class="navbar-brand">IMALA</h1>
                <div>
                    <a href="html/profile.html" th:href="@{/profile}"><i class="fas fa-user text-light mb-2  d-sm-none"></i></a>

                    <button class="navbar-toggler m-3 " type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
        
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link btn btn-dark mx-1  px-2 text-light" href="./index.html" th:href="@{/index}">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-dark mx-1  px-2 text-light" href="./about.html" th:href="@{/about}">ABOUT</a>
                        </li>
                        <li>
                            <a class="nav-link btn btn-dark mx-1  px-2 text-light" href="./help.html" th:href="@{/help}">HELP</a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group d-none d-sm-block">
                    <a href="html/profile.html" th:href="@{/profile}" class="mx-3 p-0 m-2 mx-lg-5"><i class="fas fa-user text-light mb-2  py-lg-3"></i></a>

                </div>
            </div>
        </nav>
    </header>
    <br>
        <main class="container text-center ">
            <section class=" text-center shadow mt-sm-5 p-3 mb-5  rounded m-auto">
                <h1 class="text-center text-dark my-2  px-2 py-4 ">About Us!</h1>
                <h6 class="text-warning ">Transforming Our Communities Transportation System To Digital,Safe,Fast And Reliable Is What Imala Works For! </h6>
                
                <div><img src="../static/images/aboutpic.jpg" th:attr="src=@{/images/aboutpic.jpg},title=#{wave of transport},alt=#{wave of transport}" height="400px"  alt="" class=" image-header container-fluid px-2 py-4"></div>
            </section>
            <div class="container text-center py-4 my-5" >
                <h1 class="text-center text-danger my-2  py-2 pb-4 border-bottom"> Our Mission is Clear !</h1>
                <p class="text-dark"> Making the life of passengers and drivers easy.
                    if there is illegal tariff raise beyond what expected it allows the passengers to report.
                    Besides that, it makes easy for government to control tariff related problem. </p>
                <p class="text-success ">Simple to use, the most trusted information,comprehensive, <br> and detailed view of tariff are our provision for you!</p>
           <p class="text-info"> 
               
            we're here for your safe and just journey !
        
           </p>
            <div class="pt-5">
                <h2>DEVELOPERS | <h5 class="text-secondary">PROGRAMMERS</h5></h2>
            </div>
            <div class="row justify-content-around">
                <div class="col col-lg-2 col-4 my-5">
                    <div class="col text-center">
                        <img class="rounded w-75 rounded-circle container-fluid" src="https://www.github.com/abel-mekonen.png"
                            alt="">
                        <div class="card-body text-center p-0">
                            <h6 class="card-title py-2">ABEL MEKONEN</h6>
                            <P class="text-secondary">Addis Ababa</P>
                            <div class="flex-row  justify-content-around">

                                <a class="px-1 text-dark" href="mailto:jebessadejene@gmail.com" aria-label="Email link"
                                    target="_blank"><i class="far fa-envelope"></i></a></li>
                                <a class="px-1 text-dark" href="https://github.com/jebessaD/" aria-label="github link"
                                    target="_blank"><i class="fab fa-github"></i></a> </li>
                                <a class="px-1 text-dark" href="https://www.linkedin.com/in/jebessa-dejene-74a674221"
                                    aria-label="linkedin link" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-2 col-4 my-5">
                    <div class="col text-center">
                        <img class="rounded w-75 rounded-circle container-fluid" src="https://www.github.com/libanabduba.png"
                            alt="">
                        <div class="card-body text-center p-0">
                            <h6 class="card-title py-2">LIBAN ABDUBA</h6>
                            <P class="text-secondary">Addis Ababa</P>
                            <div class="flex-row  justify-content-around">

                                <a class="px-1 text-dark" href="mailto:jebessadejene@gmail.com" aria-label="Email link"
                                    target="_blank"><i class="far fa-envelope"></i></a></li>
                                <a class="px-1 text-dark" href="https://github.com/jebessaD/" aria-label="github link"
                                    target="_blank"><i class="fab fa-github"></i></a> </li>
                                <a class="px-1 text-dark" href="https://www.linkedin.com/in/jebessa-dejene-74a674221"
                                    aria-label="linkedin link" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-2 col-4 my-5">
                    <div class="col text-center">
                        <img class="rounded w-75 rounded-circle container-fluid" src="https://www.github.com/jebessad.png"
                            alt="">
                        <div class="card-body text-center p-0">
                            <h6 class="card-title py-2">JEBESSA DEJENE</h6>
                            <P class="text-secondary">Addis Ababa</P>
                            <div class="flex-row  justify-content-around">

                                <a class="px-1 text-dark" href="mailto:jebessadejene@gmail.com" aria-label="Email link"
                                    target="_blank"><i class="far fa-envelope"></i></a></li>
                                <a class="px-1 text-dark" href="https://github.com/jebessaD/" aria-label="github link"
                                    target="_blank"><i class="fab fa-github"></i></a> </li>
                                <a class="px-1 text-dark" href="https://www.linkedin.com/in/jebessa-dejene-74a674221"
                                    aria-label="linkedin link" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-2 col-4 my-5">
                    <div class="col text-center">
                        <img class="rounded w-75 rounded-circle container-fluid" src="https://www.github.com/naoleekoo.png"
                            alt="">
                        <div class="card-body text-center p-0">
                            <h6 class="card-title py-2">NAOL KECHA</h6>
                            <P class="text-secondary">Addis Ababa</P>
                            <div class="flex-row  justify-content-around">

                                <a class="px-1 text-dark" href="mailto:jebessadejene@gmail.com" aria-label="Email link"
                                    target="_blank"><i class="far fa-envelope"></i></a></li>
                                <a class="px-1 text-dark" href="https://github.com/jebessaD/" aria-label="github link"
                                    target="_blank"><i class="fab fa-github"></i></a> </li>
                                <a class="px-1 text-dark" href="https://www.linkedin.com/in/jebessa-dejene-74a674221"
                                    aria-label="linkedin link" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-2 col-4 my-5">
                    <div class="col text-center">
                        <img class="rounded w-75 rounded-circle container-fluid" src="https://www.github.com/metsnanatasfaw.png"
                            alt="">
                        <div class="card-body text-center p-0">
                            <h6 class="card-title py-2">METSNANAT ASFAW</h6>
                            <P class="text-secondary">Addis Ababa</P>
                            <div class="flex-row  justify-content-around">

                                <a class="px-1 text-dark" href="mailto:jebessadejene@gmail.com" aria-label="Email link"
                                    target="_blank"><i class="far fa-envelope"></i></a></li>
                                <a class="px-1 text-dark" href="https://github.com/jebessaD/" aria-label="github link"
                                    target="_blank"><i class="fab fa-github"></i></a> </li>
                                <a class="px-1 text-dark" href="https://www.linkedin.com/in/jebessa-dejene-74a674221"
                                    aria-label="linkedin link" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="bg-dark p-3 rounded-top flex-shrink-0">
            <p class="text-light text-center py-0 my-0">Copyright &copy; 2022 All rights reserved | Imala</p>
          </footer>
          <script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
      
    </body>

</html>