<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    
    <title> Add City Journey</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Add City Journey</h1>
        <hr>
        <form th:action="@{/saveCityJourney}" th:object="${newCityJourney}" method="post" >
            <input type="text" th:field="*{departure}" placeholder="Departure" class="form-control col-4 mb-2" >
            <input type="text" th:field="*{destination}" placeholder="Destination" class="form-control col-4 mb-2" >
            <input type="text" th:field="*{tariff}" placeholder="Tariff" class="form-control col-4 mb-2" >
            <button type="submit" class="btn btn-lg btn-dark px-6">Save</button>
            <input type="hidden" th:field="*{id}">
        </form>
        <a th:href="@{/cityJourneyList}" class="btn btn-dark">Back</a>
        
    
    </div>
<!-- <script th:src="@{/js/bootstrap.bundle.min.js}"></script>    -->
</body>
</html>