<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}">
    <link rel="icon" href="../images/icon.jpg" type="image/png">
</head>

<body class="h-100 d-flex flex-column">
    <header class="flex-shrink-0">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark flex-shrink-0">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">IMALA</a>
                <div>
                    <a href="html/profile.html" th:href="@{/html/profile}" ><i class="fas fa-user text-light mb-2  d-sm-none"></i></a>
        
                    <button class="navbar-toggler m-3 " type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
        
                    </button>
                </div>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link btn btn-dark mx-1  px-2 text-light" href="./index.html" th:href="@{/index.html}">HOME</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-dark mx-1  px-2 text-light" href="./about.html" th:href="@{/about.html}">ABOUT</a>
                  </li>
                  <li>
                    <a class="nav-link btn btn-dark mx-1  px-2 text-light" href="./help.html" th:href="@{/help.html}">HELP</a>
                  </li>
                </ul>
              </div>
              <div class="btn-group d-none d-sm-block">
                <a href="html/profile.html" th:href="@{/html/profile}" class="mx-3 p-0 m-2 mx-lg-5"><i class="fas fa-user text-light mb-2  py-lg-3"></i></a>
        
              </div>
            </div>
        </nav>   
    </header>
    
        <main class="container text-center p-sm-5 mt-sm-6 mb-5">
    <article class="col col-sm-12  col-lg-6 shadow-lg mx-auto border rounded-3 bg-light px-2 px-sm-3 my-4 py-3 ">

        <br>
        <p class="text-dark justify-content-center ">Enter your starting station and your destination</p>
        <form th:action="@{/searchBusTariff}" method="post" th:object="${searchingAttribute}" >


            <div class="form-group text-start small m-2 ">
                <label class="py-1" for="Departure">Starting</label>
                <input  type="text" id="start" class="form-control rounded rounded-3 alert-secondary " list="departure" placeholder="Choose starting point..." th:field = "*{departure}" >  
            </div>
            

            <div class="form-group text-start small m-2 ">
                <label class="py-1" for="Destination">Destination</label>
                <input type="text" class="form-control rounded rounded-3 alert-secondary " list="destination" placeholder="Choose starting point... " th:field = "*{destination}" >  
            </div>  
            <div class="form-group text-start small m-2 ">
                <label class="py-1" for="Destination">Buses</label>
                <input type="text" class="form-control rounded rounded-3 alert-secondary " list="buses" placeholder="Choose bus... " th:field = "*{bus}" >  
            </div>   

            <div class="form-group text-start small m-2 my-4 py-2 ">
                <button type="submit" class="btn btn-dark w-100 rounded rounded-3 submit_form">Search</button>
            </div>
            
            <datalist id="departure" th:each ="station : ${crossCountry}">
                <option id="option" th:value="${station.departure}"></option>
            </datalist>
            <datalist id="destination" th:each ="station : ${crossCountry}">
                <option th:value="${station.destination}"></option>
            </datalist>

            <datalist id="buses" th:each ="bus: ${crossCountry}">
                <option th:value="${bus.bus}"></option>
            </datalist>
            
        </form>
    </article>
    <div class="col col-sm-12  col-lg-6 shadow-lg mx-auto border rounded-3 bg-light px-2 px-sm-3 my-4 py-3">
        <table class="table">
            <tr class="text-center">
              <th colspan="2" class="text-primary lead fw-bold">Tariff</th>
            </tr>
            <tr>
                <td class="text-start px-4">Departure: <span th:text ="${departure}" > </span></td>
            </tr>
            <tr>
                <td class="text-start px-4">Destination: <span th:text ="${destination}" > </span></td>
            </tr>
            <tr>
                <td class="text-start px-4">Bus: <span th:text ="${bus}" > </span></td>
            </tr>

            <tr>
                <td></td> <!-- its just gap nothing to add here -->
            </tr>
            <tr>
                <td class="text-start px-4">Tariff: <span th:text ="${tariff}" > </span> </td>
            </tr>
        </table>     
    </div>
</main>
<footer class="bg-dark p-3 rounded-top  mt-md-6">
    <p class="text-light text-center py-0 my-0">Copyright &copy; 2021 All rights reserved | Imala</p>
</footer>
<script src="../static/js/scroll.js" lang="javascript" th:src="@{/js/scroll.js}"></script>
<script src="../static/js/taxi.js" lang="javascript" th:src="@{/js/scroll.js}"></script>

</body>
</html>