<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IMALA | Taxi tariff</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}"
    />
    <link
      rel="icon"
      href="../images/icon.jpg"
      th:href="@{/images/icon.jpg}"
      type="image/png"
    />
  </head>

  <body class="h-100 d-flex flex-column">
    <header class="flex-shrink-0">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark flex-shrink-0">
        <div class="container-fluid">
          <h1 class="navbar-brand">IMALA</h1>
          <div>
            <a href="editProfile.html" th:href="@{/profile}" aria-label="user"
              ><i class="fas fa-user text-light mb-2 d-sm-none"></i
            ></a>

            <button
              class="navbar-toggler m-3"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarTogglerDemo03"
              aria-controls="navbarTogglerDemo03"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link btn btn-dark mx-1 px-2 text-light"
                  href="./index.html"
                  th:href="@{/index}"
                  >HOME</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link btn btn-dark mx-1 px-2 text-light"
                  href="./about.html"
                  th:href="@{/about}"
                  >ABOUT</a
                >
              </li>
              <li>
                <a
                  class="nav-link btn btn-dark mx-1 px-2 text-light"
                  href="./help.html"
                  th:href="@{/help}"
                  >HELP</a
                >
              </li>
            </ul>
          </div>
          <div class="btn-group d-none d-sm-block">
            <a
              href="./editProfile.html"
              th:href="@{/profile}"
              class="mx-3 p-0 m-2 mx-lg-5"
              aria-label="user"
              ><i class="fas fa-user text-light mb-2 py-lg-3"></i
            ></a>
          </div>
        </div>
      </nav>
    </header>
    <main class="container text-center m-auto flex-grow-1 row">
        <article class="=col-sm-12  col-lg-6 shadow-sm mx-auto border rounded-3 px-2 px-sm-3 my-4 py-3 d-flex ">
            <div class=" align-self-center w-100">
                <h2 class="my-2">Check Taxi Fares</h2>
                <p class="text-dark justify-content-center lead shadow-sm py-2">Enter your starting station and your destination</p>
                <form th:action="@{/searchTarrif}" method="post" th:object="${searchingAttribute}">


                    <div class="form-group text-start small m-2 ">
                        <label class="py-1" for="Departure">Starting</label>
                        <input type="text" id="Departure" class="form-control rounded rounded-3 alert-secondary " list="start" placeholder="Choose starting point..." th:field="*{departure}" autocomplete="off">
                        <div class="alert alert-warning"  th:if="${#fields.hasErrors('departure')}" th:errors="*{departure}"></div>
                        <!-- th:each="station : ${cityJourneys}" -->
                        <datalist id="start" th:each ="station : ${distnictDeparture}" >
                        <option th:each ="station : ${distnictDeparture}" th:value="${station}"></option>

                    </datalist>
                    </div>


                    <div class="form-group text-start small m-2 ">
                        <label class="py-1" for="Destination">Destination</label>
                        <input type="text" id="Destination" class=" form-control rounded rounded-3 alert-secondary " list="destination " placeholder="Choose starting point... " th:field="*{destination} " autocomplete="off">
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}"></div>
                        <datalist id="destination " th:each="station : ${distnictDestination}" >
                            <option th:each="station : ${distnictDestination} " th:value="${station} "></option>
                        </datalist>

                        
                    </div>
                    <div class="form-group text-start small m-2 my-4 py-2 ">
                        <button type="submit " class="btn btn-dark w-100 rounded rounded-3 submit_form ">Search</button>
                    </div>
                </form>
            </div>
        </article>
        <div class="col-lg-5 h-lg-100 d-flex">
            <div class="border px-4 align-self-center shadow-sm border rounded-3 border w-100">
                <table class="table my-auto mx-auto m-4 mb-5">
                    <tr class="text-start ">
                        <th colspan="2 " class="text-primary lead fw-bold p-4">Tariff</th>
                    </tr>
                    <tr>
                        <th class="text-start px-4 ">Departure: </th>
                        <td class="text-start px-4 " th:text="${departure} "></td>
                    </tr>
                    <tr>
                        <th class="text-start px-4 ">Destination:  </th>
                        <td class="text-start px-4 " th:text="${destination} "></td>
                    </tr>
                    
                    <tr class="pb-5">
                        <th class="text-start px-4 ">Tariff:</th>
                        <td class="text-start px-4 " th:text="${tariff}"></td>
                    </tr>
                </table>    
            </div>
        </div>
</main>
<footer class="bg-dark p-3 rounded-top flex-shrink-0  ">
    <p class="text-light text-center py-0 my-0 ">Copyright &copy; 2022 All rights reserved | Imala</p>
  </footer>
  <script  th:src="@{/js/bootstrap.bundle.min.js}"></script>
  
</body>

</html>
