<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}">
    <link rel="icon" href="../images/icon.jpg" type="image/png">
</head>

<body class="h-100 d-flex flex-column">
    <header class="flex-shrink-0">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark flex-shrink-0">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">IMALA</a>
                <div>
                    <a href="html/profile.html" th:href="@{/html/profile}" ><i class="fas fa-user text-light mb-2  d-sm-none"></i></a>
        
                    <button class="navbar-toggler m-3 " type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
        
                    </button>
                </div>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link btn btn-dark mx-1  px-2 text-light" href="./login.html" th:href="@{/html/index.html}">LOGIN</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-dark mx-1  px-2 text-light" href="./about.html" th:href="@{/html/about.html}">ABOUT</a>
                  </li>
                  <li>
                    <a class="nav-link btn btn-dark mx-1  px-2 text-light" href="./help.html" th:href="@{/html/help.html}">HELP</a>
                  </li>
                </ul>
              </div>
              <div class="btn-group d-none d-sm-block">
                <a href="html/profile.html" th:href="@{/html/profile}" class="mx-3 p-0 m-2 mx-lg-5"><i class="fas fa-user text-light mb-2  py-lg-3"></i></a>
        
              </div>
            </div>
        </nav>   
    </header>
    
<main class="container text-center p-sm-5 m-auto flex-grow-1 ">
<section class="container text-center shadow  rounded ">
        <h1 class="text-center text-primary my-2  py-2 pb-4 border-bottom">WELCOME</h1>
        <p class="text-danger">Where do you want to go? we provided you helpful information</p>
        <p class="text-primary ">Get transport fares online everywhere <br> choose what you want</p>
    </section>
 <article class="row">
    <div class="card shadow col-md-4" >
        <div class="col-md-12 px-3">
            <img src="../static/images/taxi.gif"  th:attr="src=@{/images/taxi.gif},title=#{Taxi fare},alt=#{Taxi fare}" class="card-img-top " alt="Taxi car">
            <div class="card-body border">
                <h5 class="card-title">Taxi Fares</h5>
                <p class="card-text">Click the button to get taxi fares in Addis Ababa</p>
                <a class="btn btn-dark"  th:href="@{/checkTariff}">Taxi fares</a>
            </div>
        </div>
      </div>

      <div class="card shadow col-md-4" >
            <div class="col-md-12 px-3">

                <img src="../static/images/bus.jpg"  th:attr="src=@{/images/taxi.gif},title=#{Taxi fare},alt=#{Taxi fare}" class="card-img-top" alt="Taxi car">
                <div class="card-body border">
                    <h5 class="card-title">Bus Fares</h5>
                    <p class="card-text">Click the button to get bus fares from Addis Ababa to sidecountry cities.</p>
                    <a class="btn btn-dark" href="bus.html">Bus fares</a>
                </div>
            </div>

      </div>

      <div class="card shadow col-md-4" >
        <div class="col-md-12 px-3">

            <img src="../static/images/report3.jpg"  th:attr="src=@{/images/taxi.gif},title=#{Taxi fare},alt=#{Taxi fare}" class="card-img-top" alt="Taxi car">
            <div class="card-body border">
            <h5 class="card-title">Report ILLEGALS</h5>
            <p class="card-text">Report illegal tariff raises.</p>
            <a class="btn btn-dark" href="./report.html" th:href="@{/html/report.html}">Report Now</a>
            </div>
        </div>

      </div>
    </article>


<!-- 
    <article class="container mb-5 rounded px-4">

        <div class="  my-4 alert-secondary justify-content-end row rounded-3  shadow-sm   ">
            <div class="col-6  border d-flex flex-wrap align-items-center p-0 rounded-3 ">
                <img src="../static/images/taxi.gif"  th:attr="src=@{/images/taxi.gif},title=#{Taxi fare},alt=#{Taxi fare}" class="img-fluid rounded-3 " alt="Taxi fare">
            </div>
            <div class="col-6  border-1 text-center py-2">
                <h6 class="text-primary">Taxi fares in Addis</h6>
                <p class="lh-1">Click the button to get taxi fares in Addis Ababa</p>
                <a class="btn rounded-pill btn-dark p-0 px-4 mb-2 p-sm-2 px-sm-5 p-sm-2 px-sm-5"  th:href="@{/checkTariff}">Taxi fares</a>

            </div>
        </div>

        <div class="  my-4 alert-secondary justify-content-end row rounded-3  shadow-sm   ">
            <div class="col-6  border-1 text-center py-2">
                <h6 class="text-primary">Cross-city bus fares</h6>
                <p class="lh-1">If you want to travel to country side get ticket fares</p>
                <a class="btn rounded-pill btn-dark p-0 px-4 mb-2 p-sm-2 px-sm-5" href="bus.html">Bus fares</a>

            </div>
            <div class="col-6  border d-flex  flex-wrap align-items-center p-0 rounded-3 ">
                <img src="../static/images/bus.png" th:attr="src=@{/images/bus.png},title=#{bus},alt=#{bus logo}" class="img-fluid rounded-3 " alt="bus">
            </div>

        </div>

        <div class="  my-4 alert-secondary justify-content-end row rounded-3  shadow-sm   ">
            <div class="col-6  border d-flex flex-wrap align-items-center p-0 rounded-3 ">
                <img src="../static/images/report2.png" th:attr="src=@{/images/report2.png},title=#{report img},alt=#{report img}" class="img-fluid rounded-3" alt="report img">
            </div>
            <div class="col-6 border-1 border-l text-center py-2">
                <h6 class="text-primary">REPORT ILLEGALS</h6>
                <p class="lh-1">Report illegal tariff raises</p>
                <a class="btn rounded-pill btn-dark p-0 px-4 mb-2 p-sm-2 px-sm-5" href="./report.html" th:href="@{/html/report.html}">Report Now</a>

            </div>
        </div>
    </article> -->
   <!-- <a th:href="@{/cityJourneyList}" class="btn btn-dark">City Journey List</a> -->
</main>
    <footer class="bg-dark">
        <p class="text-light text-center py-0 my-0">Copyright &copy; 2021 All rights reserved | Imala</p>
    </footer>
    <script src="../static/js/scroll.js" lang="javascript" th:src="@{/js/scroll.js}"></script>
</body>

</html>