

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</head>

<body>
    <header id="header" class="position-fixed top-0 w-100" >
        <nav class="navbar bg-primary p-1 shadow p-0 px-2 mb-0 rounded-bottom d-flex">
            <div class="col-3 "><img src="../images/imala.png" th:attr="src=@{/images/imala.png},title=#{imala logo},alt=#{imala logo}" class="img-fluid" alt="imala logo" width="150"></div>

            <div class="navbar-expand text-end float-end">
                <a href="html/profile.html" th:href="@{/html/profile}" class="mx-3 p-0 m-2 mx-lg-5"><i class="fas fa-user text-light mb-2  py-lg-3"></i></a>
                <ul class="navbar-nav mb-2 pb-0">
                    <li class="nav-item mx-lg-3">
                        <a class="nav-link btn btn-info mx-1  p-0 px-2 text-light" href="login.html" th:href="@{/login}">LOGIN</a>
                    </li>
                    <li class="nav-item mx-lg-3">
                        <a class="nav-link btn btn-info mx-1  p-0 px-2 text-light" href="about.html" th:href="@{/about}">ABOUT</a>
                    </li>
                    <li class="nav-item mx-lg-3">
                        <a class="nav-link btn btn-info mx-1  p-0 px-2 text-light p-0 " href="help.html" th:href="@{/help}">HELP</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="container text-center mt-sm-6 shadow p-3 mb-5  rounded">
        <h1 class="text-center text-primary my-2  py-2 pb-4 border-bottom">WELCOME</h1>
        <p class="text-danger">Where do you want to go? we provided you helpful information</p>
        <p class="text-primary ">Get transport fares online everywhere <br> choose what you want</p>
    </section>

    <article class="container mb-5 rounded px-4">

        <div class="  my-4 bg-secondary justify-content-end row rounded-6  shadow-sm   ">
            <div class="col-6  border d-flex flex-wrap align-items-center p-0 rounded-6 ">
                <img src="./images/taxi.gif" th:attr="src=@{/images/taxi.gif},title=#{Taxi fare},alt=#{Taxi fare}" class="img-fluid rounded-6 " alt="Taxi fare">
            </div>
            <div class="col-6  border-1 text-center py-2">
                <h6 class="text-primary">Taxi fares in Addis</h6>
                <p class="lh-1">Click the button to get taxi fares in Addis Ababa</p>
                <a class="btn rounded-pill btn-primary p-0 px-4 mb-2" href="./html/taxi.html">Taxi fares</a>

            </div> 
        </div>

        <div class="  my-4 bg-secondary justify-content-end row rounded-6  shadow-sm   ">
            <div class="col-6  border-1 text-center py-2">
                <h6 class="text-primary">Cross-city bus fares</h6>
                <p class="lh-1">If you want to travel to country side get ticket fares</p>
                <a class="btn rounded-pill btn-primary p-0 px-4 mb-2" href="">Bus fares</a>

            </div>
            <div class="col-6  border d-flex flex-wrap align-items-center p-0 rounded-6 ">
                <img src="./images/bus.png" th:attr="src=@{/images/bus.png},title=#{bus},alt=#{bus logo}" class="img-fluid rounded-6 " alt="bus">
            </div>

        </div>

        <div class="  my-4 bg-secondary justify-content-end row rounded-6  shadow-sm   ">
            <div class="col-6  border d-flex flex-wrap align-items-center p-0 rounded-6 ">
                <img src="./images/report2.png" th:attr="src=@{/images/report2.png},title=#{report img},alt=#{report img}" class="img-fluid rounded-6" alt="report img">
            </div>
            <div class="col-6 border-1 border-l text-center py-2">
                <h6 class="text-primary">REPORT ILLEGALS</h6>
                <p class="lh-1">Report illegal tariff raises</p>
                <a class="btn rounded-pill btn-primary p-0 px-4 mb-2" href="./html/report.html">Report Now</a>

            </div>
        </div>
    </article>


    <footer class="bg-primary p-3 rounded-top top-100">
        <p class="text-light text-center py-0 my-0">Copyright &copy; 2021 All rights reserved | Imala</p>
    </footer>
    <script src="./js/scroll.js" lang="javascript" th:src="@{/js/scroll.js}"></script>
</body>

</html>