<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="icon" href="..\image\jeba1.png" type="image/png" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav class="navbar bg-primary fixed-top p-1 shadow p-0 px-2 mb-0 rounded-bottom d-flex" >
            <div class="col-3 "><img src="../images/imala.png" class="img-fluid" alt="imala logo"></div>
            
            <div class="navbar-expand text-end float-end">
                <a href="" class="mx-3 p-0 m-2"><i class="fas fa-user text-light mb-2"></i></a>
                <ul class="navbar-nav mb-2 pb-0">
                    <li class="nav-item">
                        <a class="nav-link btn btn-info mx-1  p-0 px-2 text-light" href="">LOGIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-info mx-1  p-0 px-2 text-light" href="">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-info mx-1  p-0 px-2 text-light p-0 " href="">HELP</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <p class="my-5">Lorem, ipsum dolor sit amet tibus ut officia. Vero blanditiis laboriosam, eius minus exercitationem quibusdam voluptas necessitatibus.</p>

    <article class=" mx-4 p-3 bg-secondary shadow text-center">
        <p>Lorem, ipsum dolor dustshsuus  Obcaecati, ipsum.</p>
        <form action="">
            <label for="startingPoint"><i class="fas fa-dot-circle text-primary"></i></label>
            <input type="text" class="p-2 alert bg-warning rounded-pill" placeholder="Choose starting point..."> <br>
            <label for="destination"><i class="fas fa-map-marker-alt text-primary lead"></i> </label>
            <input type="text" class="p-2 alert bg-warning rounded-pill" placeholder="Choose destination...">
            <br>
            <label for="destination"><i class="fas fa-road text-primary"></i></label>
            <input type="button" class="btn w-70 btn-primary rounded-pill" value="Search">
        </form><br>
        <div class="container border  border-warning p-2 px-3">
            <h3 class="text-primary container border border-warning p-1 mb-4 ">Tarrif</h3>
            <p class="text-start container border border-warning p-1 m-0 px-4 ">Lorem ipsum </p>
            <p class="text-start container border border-warning p-1 px-4 ">Lorem ipsum </p>
            <p class="text-start container border border-warning p-1 "><i class="fas fa-hand-holding-usd text-small text-primary px-2"></i>5 Birr</p>
        </div>
</article>
    <footer class="bg-primary p-3 rounded-top mt-4">
        <p class="text-light text-center py-0 my-0">copy right Lorem, ipsum dolor.</p>
    </footer>
    

</body>
</html>